<app-navbar></app-navbar>
<div class="main-content">
  <h2>Lista de Alumnos</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Semana 1</th>
        <th>Semana 2</th>
        <th>Semana 3</th>
        <th>Semana 4</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of alumnos">
        <td>{{ alumno.nombre }}</td>
        <td>{{ alumno.apellidos }}</td>
        <td>{{ obtenerNota(alumno, 1) }}</td>
        <td>{{ obtenerNota(alumno, 2) }}</td>
        <td>{{ obtenerNota(alumno, 3) }}</td>
        <td>{{ obtenerNota(alumno, 4) }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
