<nav class="sidebar">
    <div class="logo">
        <img src="/assets/img/logo-white.png"  alt="">
    </div>
    <ul>
        <li>
            <a routerLink="/home">
                <img src="/assets/img/home.png" alt="Home">Home
            </a>
        </li>
        <li>
            <a routerLink="/examenes">
                <img src="/assets/img/Examen.png" alt="Examen">Examenes
            </a>
        </li>
        <li>
            <a routerLink="/practica-ia" class="ia">
                <img src="/assets/img/IA (1).png" alt="IA">Practica
            </a>
        </li>
    </ul>
    <ul class="logout">
        <li><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
    </ul>
</nav>
