.main-content {
    margin-left: 300px; 
    width: calc(100% - 300px);
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative;    
}

h1 {
    text-align: left;
    margin-bottom: 40px;
    color: #436cb3;
}


.examen-wrapper {
    display: flex;
    margin-top: 100px; 
}

.examen-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    gap: 15px;
}

.examen-option .icon {
    width: 50px;
    height: 50px;
}

.examen-info {
    flex-grow: 1;
    text-align: left;
}

.examen-info .pendiente {
    margin: 0;
    font-size: 18px;
    color: #ce0606;
}

.examen-info .completo{
    margin: 0;
    font-size: 18px;
    color: #2AAA94;
}

.examen-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.examen-option .enter-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.examen-option .enter-icon:hover {
    transform: scale(1.1);
}

.nota-circle {
    width: 60px;  
    height: 60px;
    background-color: #7F56D9; 
    color: white;  
    font-size: 18px; 
    font-weight: bold;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
/* Estilos para el mensaje "¡Todavía no tienes exámenes pendientes!" */
.no-examenes {
    background-color: #f3f3f3;
    border: 2px solid #7F56D9; /* Color de borde */
    border-radius: 12px;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.no-examenes h2 {
    font-size: 22px;
    font-weight: 600;
    color: #7F56D9;
    margin: 0;
}

.no-examenes p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

/* Animación de aparición */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

