<app-navbar></app-navbar>  

<div class="main-content">
    <div class="semanas-container">
        <div *ngIf="!hayExamenesPendientes" class="no-examenes">
            <h2>¡Todavía no tienes exámenes pendientes!</h2>
        </div>
        <div *ngFor="let semana of semanas">
            <h2>{{ 'Semana ' + semana.idsemana }}</h2>
            <div class="examen-wrapper" *ngIf="semana.estado === 0">
                <div class="examen-option">
                    <img class="icon" src="/assets/img/examen-pendiente.png" alt="Examen">
                    <div class="examen-info">
                        <h2 class="pendiente">Examen Pendiente</h2>
                        <p class="examen">Completa tus exámenes pendientes</p>
                    </div>
                    <img class="enter-icon" src="/assets/img/acceder.png" alt="Entrar" (click)="entrar(semana.idsemana)">
                </div>
            </div>
            <div class="examen-wrapper" *ngIf="semana.estado === 1">
                <div class="examen-option">
                    <img class="icon" src="/assets/img/examen-pendiente.png" alt="Examen">
                    <div class="examen-info">
                        <h2 class="completo">Examen Completado</h2>
                        <p class="examen">Examen completado. ¡Gracias por tu participación!</p>
                    </div>
                    <div class="nota-circle">{{ semana.nota }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
