<app-navbar></app-navbar>  

<div class="main-content">
    <div class="semanas-container">
        <div *ngFor="let semana of semanas">
            <h2>{{ semana }}</h2>
            <div class="examen-wrapper" *ngIf="estado == null"> 
                <div class="examen-option">
                    <img class="icon" src="/assets/img/examen-pendiente.png" alt="Examen">
                    <div class="examen-info">
                        <h2 class="pendiente">Examen Pendiente</h2>
                        <p class="examen">Completa tus exámenes pendientes</p>
                    </div>
                    <img class="enter-icon" src="/assets/img/acceder.png" alt="Entrar" (click)="entrar()">
                </div>
            </div>
            <div class="examen-wrapper" *ngIf="estado == 1">
                <div class="examen-option">
                    <img class="icon" src="/assets/img/examen-pendiente.png" alt="Examen" >
                    <div class="examen-info">
                        <h2 class="completo">Examen Completado</h2>
                        <p class="examen">Examen completado. ¡Gracias por tu participación!</p>
                    </div>
                    <div class="nota-circle">{{ nota }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
